<header id="header" class="header">
  <div class="container header__container">
    <a href="./index.html" class="header__logo">
      <svg width="50" height="50" class="header__logo--icon">
        <use href="./images/icons.svg#icon-ice-cream"></use>
      </svg>
      icecream</a
    >
    <div class="header__backdrop is-hidden" data-modal>
      <nav class="header__menu" data-menu>
        <button class="header__menu--button" type="button">
          Buy now
          <svg
            class="btn-list__icon"
            width="7"
            height="10"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m1.42 1 4.282 4L1.42 9"
              stroke="var( --primary-text)"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            />
          </svg>
        </button>
        <ul class="header__nav">
          <li><a class="header__list" href="#header">Home</a></li>
          <li><a class="header__list" href="#reviews">About us</a></li>
          <li><a class="header__list" href="#about">How it&#39;s made?</a></li>
          <li><a class="header__list" href="#products">Our products</a></li>
          <li><a class="header__list" href="#contact">Contact</a></li>
        </ul>
      </nav>
    </div>
    <button type="button" class="header__button is-open" aria-expanded="false" data-header__button>
      <svg width="20" height="20" aria-label="mobile menu ">
        <use class="header__icon--cross" href="./images/icons.svg#icon-cross"></use>
        <use class="header__icon--menu" href="./images/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="header__nav--button" type="button">
      Buy now
      <svg
        class="btn-list__icon"
        width="7"
        height="10"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="m1.42 1 4.282 4L1.42 9"
          stroke="var(--primary-text)"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
    </button>

    <h2 class="header__title">
      ice cream made with
      <span class="header__title--emphasis">passion</span>
    </h2>
    <div class="header__button--block">
      <button class="header__button--first" type="button">Products</button>
      <button class="header__button--second" type="button">How it&#39;s made?</button>
    </div>
    <p class="header__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et
      <br />
      <button type="button" class="header__btn" type="button">
        <span class="header__arrow">&#10140;</span>
      </button>
    </p>

    <ul>
      <li class="header__element">
        <p class="header__number">16</p>
        <p class="header__number--name">cafes</p>
      </li>
      <li class="header__element">
        <p class="header__number">23</p>
        <p class="header__number--name">food trucks</p>
      </li>
    </ul>
  </div>
</header>
